
QMainWindow{
background-color:$FON
}

QWidget#widget_1{
background-color:$Widgetfon
}

QWidget#widget_2{
background-color:$Widgetfon
}

QWidget#widget_3{
background-color:$Widgetfon
}
QLabel{
color:$ABZ;
background-color:$Labelfon;
}

QLabel#label_1_1{
font:$scrift;
}
QLabel#label_2{
font:$scrift;
}
QLabel#label_3_1{
font:$scrift;
}



